<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static\globals.css" />
    <link rel="stylesheet" href="static\index_css\index.css" />
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</head>

<body>
    <div class="frame">
        <div class="overlap">
            <img class="IMG" src="https://c.animaapp.com/yK9rak1H/img/img.png" />
            <nav>
                <div class="vuesax-linear-setting-wrapper"><img class="img"
                        src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-story.png" />
                </div>
                <div class="vuesax-linear-home-wrapper">
                    <img class="img" src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-home-2.png" />
                </div>
            </nav>
            <div class="rectangle"></div>
            <img class="about" src="https://c.animaapp.com/yK9rak1H/img/about@2x.png" />
            <div class="overlap-wrapper">
                <div class="overlap-group">
                    <div class="div"></div>
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group-2">
                            <div class="text-wrapper">AI</div>
                            <div class="text-wrapper-2">$529</div>
                        </div>
                    </div>
                    <div class="div-wrapper">
                        <div class="overlap-2">
                            <div class="group-2">
                                <div class="overlap-group-3">
                                    <div class="text-wrapper-3">DL</div>
                                    <div class="text-wrapper-4">$129</div>
                                </div>
                            </div>
                            <img class="polygon" src="https://c.animaapp.com/yK9rak1H/img/polygon-2.svg" />
                        </div>
                    </div>
                    <img class="group-3" src="https://c.animaapp.com/yK9rak1H/img/group-5.png" />
                    <div class="HEAD">Projects</div>
                    <div class="vuesax-linear-wrapper">
                        <img class="vuesax-linear"
                            src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-category.png" />
                    </div>
                    <div class="img-wrapper">
                        <img class="vuesax-linear"
                            src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-archive-tick.png" />
                    </div>
                </div>
            </div>

            <button class="frame-wrapper" onclick="scrollToBottom()">
                <div class="div-2">
                    <img class="img-2" src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-arrow-left.png" />
                    <div class="text-wrapper-5">Ravo-X</div>
                </div>
            </button>
            <div class="INFO">
                <div class="div-3">
                    <img class="img-2" src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-calendar.svg" />
                    <p class="p">13:00 - 19:00, Oct 12 - 2023</p>
                </div>
                <div class="div-3">
                    <img class="img-2" src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-map.svg" />
                    <p class="p">West Point St., Birmingham Dtr.</p>
                </div>
            </div>
            <p class="BODY">
                Hello there! I&#39;m Sean, a passionate and creative Artificial Intelligence Engineer.<br />With a solid
                academic background in [Your Educational Background], I&#39;ve dedicated myself to the fascinating realm
                of
                artificial intelligence. My interests and expertise lie in machine learning, deep learning, and natural
                language processing, allowing me to continuously challenge myself and provide innovative solutions to
                real-world problems.
            </p>
            <div class="OKAY">
                <img class="Character" src="static\index_image\CHARACTER.png" />
                <img class="CharacterBack" src="static\index_image\OKAY.png" />
                <div class="Sup" data-aos="zoom-in">
                    <div class="Fbutton">
                        <div class="Sup7"></div>
                        <div class="VuesaxBoldDiscover">
                            <img src="static\index_image\color-swatch.png" alt="">
                        </div>
                        <div class="MemberIdentity">Member Identity</div>
                    </div>
                    <div class="Ebutton">
                        <div class="Sup6"></div>
                        <div class="VuesaxBoldDiscover">
                            <img src="static\index_image\music-square.png" alt="">
                        </div>
                        <div class="NcsMusic">NCS Music</div>
                    </div>
                    <div class="Dbutton">
                        <div class="Sup5"></div>
                        <div class="VuesaxBoldDiscover">
                            <img src="static\index_image\award.png" alt="">
                        </div>
                        <div class="Certificate">Certificate</div>
                    </div>
                    <div class="Cbutton">
                        <div class="Sup4"></div>
                        <div class="VuesaxBoldDiscover">
                            <img src="static\index_image\note-2.png" alt="">
                        </div>
                        <div class="Merchandise">Merchandise</div>
                    </div>
                    <div class="Bbutton">
                        <div class="Sup3"></div>
                        <div class="VuesaxBoldDiscover">
                            <img src="static\index_image\flash.png" alt="">
                        </div>
                        <div class="Dance">Dance</div>
                    </div>
                    <div class="Abutton">
                        <div class="Sup2"></div>
                        <div class="VuesaxBoldDiscover">
                            <img src="static\index_image\discover.png" alt="">
                        </div>
                        <div class="DjChallenges">DJ Challenges</div>
                    </div>
                </div>
            </div>
            <div class="SOCIAL">
                <div class="image-wrapper"><img class="image" src="https://c.animaapp.com/yK9rak1H/img/image-2.png" />
                </div>
                <div class="vuesax-linear-paypal-wrapper">
                    <img class="vuesax-linear-paypal"
                        src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-paypal-1.png" />
                </div>
                <div class="vuesax-linear-apple-wrapper">
                    <img class="vuesax-linear-apple"
                        src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-apple-1.png" />
                </div>
            </div>
            <div class="NameContainer">
                <div class="Name1">Sean</div>
                <div class="Name2">ui_</div>
            </div>

            <div class="PIE-CHART" id="mySvgContainer">
                <svg xmlns="http://www.w3.org/2000/svg" width="241" height="241" viewBox="0 0 241 241">
                    <path id="path1" fill="#282A36"
                        d="M217 120.5c13.255 0 24.24 10.849 21.618 23.842a120.505 120.505 0 0 1-131.536 95.909A120.505 120.505 0 0 1 6.803 160.416 120.5 120.5 0 0 1 70.791 10.731c12.074-5.468 25.11 2.806 28.08 15.724l17.347 75.424a23.999 23.999 0 0 0 23.389 18.621H217Z" />
                    <path id="path2" fill="#BBFF1A"
                        d="M207.166 85.193c10.599-2.868 17.059-14.006 12.178-23.93a100.53 100.53 0 0 0-28.616-35.111 99.304 99.304 0 0 0-40.99-18.826C138.982 5.133 130 14.318 130 25.399v54.526c0 13.193 12.392 22.795 25.011 19.38l52.155-14.112Z" />
                </svg>
            </div>
        </div>

    </div>



    </div>



    <script>

        // PIE-CHART scroll animation
        window.addEventListener('scroll', function () {




            let scrollDistance = window.scrollY;

            let sup=document.getElementsByClassName('Sup');
            










            let pieChart = document.getElementById('mySvgContainer');
            let scrollButton = document.querySelector('.frame-wrapper');
            let buttonIcon = document.querySelector('.img-2');

            // get height
            let viewportHeight = window.innerHeight;
            let distanceFromPieChart = viewportHeight - (pieChart.getBoundingClientRect().top - scrollDistance);
            let distanceFromPieButton = viewportHeight - (scrollButton.getBoundingClientRect().top - scrollDistance);

            let scrollableDistance = document.documentElement.scrollHeight - viewportHeight;
            let scrollRatio = scrollDistance / scrollableDistance;

            let rotateAngle = 140.95 * scrollRatio;

            pieChart.style.transform = `translateX(-50%) rotate(${rotateAngle}deg)`;

            if (distanceFromPieChart > 1800) {
                pieChart.style.position = 'fixed';
                pieChart.style.top = '-10%';
                pieChart.style.left = '89%';
            } else {
                pieChart.style.position = 'absolute';
                pieChart.style.top = '623px';
                pieChart.style.left = '89%';
            }

            if (distanceFromPieButton > 1200) {
                scrollButton.style.position = 'fixed';
                scrollButton.style.top = '2.1%';
                buttonIcon.style.transform = 'rotate(180deg)';
            } else {
                scrollButton.style.position = 'absolute';
                scrollButton.style.top = '257px';
                scrollButton.style.left = '207px';
                buttonIcon.style.transform = 'rotate(0deg)';
            }



            let character = document.querySelector('.Character');
            let characterBack = document.querySelector('.CharacterBack');

            let IMGminWidth = 411;
            let IMGminHeight = 595;
            let IMGmaxWidth = 517;
            let IMGmaxHeight = 745;

            let minWidth = 0;
            let minHeight = 0;
            let maxWidth = 1454.09;
            let maxHeight = 1486.36;

            let minTop = 55;
            let maxTop = 45;

            let Ascale = 1 - scrollDistance / (document.body.scrollHeight - window.innerHeight);
            let topValue = minTop + Ascale * (maxTop - minTop);

            let Awidth = IMGminWidth + Ascale * (IMGmaxWidth - IMGminWidth);
            let Aheight = IMGminHeight + Ascale * (IMGmaxHeight - IMGminHeight);

            character.style.width = Awidth + 'px';
            character.style.height = Aheight + 'px';
            character.style.top = topValue + '%';
            let scale = scrollDistance / (document.body.scrollHeight - window.innerHeight);
            let width = minWidth + scale * (maxWidth - minWidth);
            let height = minHeight + scale * (maxHeight - minHeight);

            characterBack.style.width = width + 'px';
            characterBack.style.height = height + 'px';
        });




        function scrollToBottom() {
            let scrollDistance = window.scrollY;
            let scrollButton = document.querySelector('.frame-wrapper');
            let viewportHeight = window.innerHeight;
            let distanceFromPieButton = viewportHeight - (scrollButton.getBoundingClientRect().top - scrollDistance);



            if (distanceFromPieButton > 1200) {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth' // Add smooth scrolling effect
                });
            } else {
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: 'smooth' // Add smooth scrolling effect
                });
            }
            // Scroll to the bottom of the page

        }

    </script>
      
      <script>
        AOS.init();
      </script>
</body>

</html>