<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static\globals.css" />
    <link rel="stylesheet" href="static\index_css\index.css" />
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</head>

<body>
    <div class="frame">
        <div class="overlap">
            <img class="IMG" src="https://c.animaapp.com/yK9rak1H/img/img.png" />
            <nav>
                <a class="vuesax-linear-setting-wrapper" href="#"><img class="img"
                        src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-story.png" />
                </a>
                <a class="vuesax-linear-home-wrapper" href="./">
                    <img class="img" src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-home-2.png" />
                </a>
            </nav>
            <div class="rectangle"></div>
            <img class="about" src="https://c.animaapp.com/yK9rak1H/img/about@2x.png" />
            <div class="overlap-wrapper">
                <div class="overlap-group">
                    <div class="div"></div>
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group-2">
                            <div class="text-wrapper">AI</div>
                            <div class="text-wrapper-2">$529</div>
                        </div>
                    </div>
                    <div class="div-wrapper">
                        <div class="overlap-2">
                            <div class="group-2">
                                <div class="overlap-group-3">
                                    <div class="text-wrapper-3">DL</div>
                                    <div class="text-wrapper-4">$129</div>
                                </div>
                            </div>
                            <img class="polygon" src="https://c.animaapp.com/yK9rak1H/img/polygon-2.svg" />
                        </div>
                    </div>
                    <div class="main-container">
                        <img class="polygon11" src="static\index_image\Polygon1.png">
                        <div class="auto-layer-row">
                            <div class="frame11">
                                <span class="number-of-projects">Number of Projects</span>
                                <div class="frame-1">
                                    <span class="last-update-time">Last Update Time</span><span
                                        class="november">November 30, 2022</span>
                                </div>
                            </div>
                            <img class="image11" src="static\index_image\image1.png">
                        </div>
                        <div class="rectangle11">
                            <img class="arrow-right" src="static\index_image\arrow-right.png">
                            <span class="span-25">25</span>
                        </div>
                        <img class="Rectangle11" src="static\index_image\ground3.png">
                    </div>

                    <div class="HEAD">Projects</div>
                    <div class="vuesax-linear-wrapper">
                        <img class="vuesax-linear"
                            src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-category.png" />
                    </div>
                    <div class="img-wrapper">
                        <img class="vuesax-linear"
                            src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-archive-tick.png" />
                    </div>
                </div>
            </div>

            <button class="frame-wrapper" onclick="scrollToBottom()">
                <div class="div-2">
                    <img class="img-2" src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-arrow-left.png" />
                    <div class="text-wrapper-5">Ravo-X</div>
                </div>
            </button>
            <div class="INFO">
                <div class="div-3">
                    <img class="img-2" src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-calendar.svg" />
                    <p class="p">13:00 - 19:00, Oct 12 - 2023</p>
                </div>
                <div class="div-3">
                    <img class="img-2" src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-map.svg" />
                    <p class="p">West Point St., Birmingham Dtr.</p>
                </div>
            </div>
            <p class="BODY">
                Hello there! I&#39;m Sean, a passionate and creative Artificial Intelligence Engineer.<br />With a solid
                academic background in [Your Educational Background], I&#39;ve dedicated myself to the fascinating realm
                of
                artificial intelligence. My interests and expertise lie in machine learning, deep learning, and natural
                language processing, allowing me to continuously challenge myself and provide innovative solutions to
                real-world problems.
            </p>
            <div class="OKAY">
                <img class="Character_phone" src="static\index_image\CHARACTER.png" />
                <img class="Character_phoneBack" src="static\index_image\phoneCharacterBack.png"  data-aos="zoom-in"/>
                <img class="Character" src="static\index_image\CHARACTER.png" />
                <img class="CharacterBack" src="static\index_image\OKAY.png" />
                <div class='Contact' data-aos="zoom-in">
                    <svg preserveAspectRatio="none" width="213" height="43" viewBox="0 0 213 43" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path vector-effect="non-scaling-stroke"
                            d="M197.672 42.256V20.477H190.984V13.671H197.672V1.77539H205.424V13.671H212.112V20.477H205.424V42.256H197.672Z"
                            fill="white" />
                        <path vector-effect="non-scaling-stroke"
                            d="M178.297 42.8479C169.538 42.8479 162.909 36.4562 162.909 27.9931C162.909 19.4709 169.597 13.02 178.297 13.02C182.735 13.02 186.641 14.7363 189.423 17.8138L184.452 22.8443C182.913 21.1872 180.842 20.2994 178.297 20.2994C173.976 20.2994 170.84 23.4361 170.84 27.9339C170.84 32.491 173.976 35.6276 178.297 35.6276C180.901 35.6276 183.031 34.6807 184.511 32.9644L189.541 37.9949C186.641 41.1908 182.795 42.8479 178.297 42.8479Z"
                            fill="white" />
                        <path vector-effect="non-scaling-stroke"
                            d="M141.965 42.8478C134.153 42.8478 128.235 36.4562 128.235 27.9931C128.235 19.53 134.153 13.0792 141.906 13.0792C145.339 13.0792 148.239 14.322 150.251 16.3934V13.671H157.944V42.256H150.251V39.5336C148.239 41.605 145.339 42.8478 141.965 42.8478ZM143.386 35.6868C147.706 35.6868 150.665 32.4909 150.665 27.9339C150.665 23.4361 147.706 20.2402 143.386 20.2402C139.125 20.2402 136.165 23.4361 136.165 27.9339C136.165 32.4909 139.125 35.6868 143.386 35.6868Z"
                            fill="white" />
                        <path vector-effect="non-scaling-stroke"
                            d="M111.903 42.256V20.477H105.216V13.671H111.903V1.77539H119.656V13.671H126.344V20.477H119.656V42.256H111.903Z"
                            fill="white" />
                        <path vector-effect="non-scaling-stroke"
                            d="M74.8162 42.256V13.671H82.569V16.3934C84.5812 14.322 87.4812 13.0792 90.8545 13.0792C97.187 13.0792 101.803 18.4056 101.803 24.1462V42.256H94.0504V25.8625C94.0504 22.4891 91.6831 20.1219 88.3097 20.1219C84.9955 20.1219 82.569 22.4891 82.569 25.8625V42.256H74.8162Z"
                            fill="white" />
                        <path vector-effect="non-scaling-stroke"
                            d="M54.5559 42.8479C45.9153 42.8479 39.2277 36.3378 39.2277 27.8748C39.2277 19.5301 45.8561 13.02 54.4967 13.02C63.1965 13.02 69.8249 19.4709 69.8249 27.8748C69.8249 36.3378 63.1965 42.8479 54.5559 42.8479ZM54.4967 35.6276C58.8762 35.6276 61.8945 32.4318 61.8945 27.9339C61.8945 23.4361 58.817 20.2994 54.4967 20.2994C50.1764 20.2994 47.1581 23.4953 47.1581 27.9339C47.1581 32.4318 50.1764 35.6276 54.4967 35.6276Z"
                            fill="white" />
                        <path vector-effect="non-scaling-stroke"
                            d="M21.3648 42.8479C9.11407 42.8479 0 33.4971 0 21.424C0 9.40998 9.05488 0 21.3648 0C27.9932 0 32.9645 2.36729 36.8114 6.09577L31.3666 11.5405C28.9993 8.9957 25.7443 7.51615 21.3648 7.51615C13.6711 7.51615 8.22633 13.1385 8.22633 21.424C8.22633 29.7687 13.6711 35.391 21.3648 35.391C26.0402 35.391 29.236 33.8522 31.6033 31.3074L37.0481 36.7522C33.2012 40.5398 28.1116 42.8479 21.3648 42.8479Z"
                            fill="white" />
                    </svg>
                    
                    <div class="code_hub">
                        <div class="Code"
                            style="color: #BBFF1A; font-size: 24px; font-family: Outfit; font-weight: 500; word-wrap: break-word">
                            code</div>
                        <div class="Hub"
                            style="color: #BBFF1A; font-size: 24px; font-family: Outfit; font-weight: 500; word-wrap: break-word">
                            Hub</div>
                    </div>
                </div>

                <div class="phone_button" data-aos="zoom-in">
                    <div class="Adiv-2">
                      <img
                        src="static\index_image\button_1.png"
                        class="Aimg"
                      />
                      <div class="Adiv-3">DJ Challenges</div>
                      <img
                        src="static\index_image\button_1.png"
                        class="Aimg-2"
                      />
                      <div class="Adiv-4">DJ Challenges</div>
                      <img
                        src="static\index_image\button_1.png"
                        class="Aimg-3"
                      />
                      <div class="Adiv-5">DJ Challenges</div>
                    </div>
                    <div class="Adiv-6">
                      <img
                        src="static\index_image\button_1.png"
                        class="Aimg"
                      />
                      <div class="Adiv-7">DJ Challenges</div>
                      <img
                        src="static\index_image\button_1.png"
                        class="Aimg-4"
                      />
                      <div class="Adiv-8">DJ Challenges</div>
                      <img
                        src="static\index_image\button_1.png"
                        class="Aimg-5"
                      />
                      <div class="Adiv-9">DJ Challenges</div>
                    </div>
                  </div>
            </div>
            <div class="SOCIAL">

                <div class="image-wrapper"><img class="image" src="https://c.animaapp.com/yK9rak1H/img/image-2.png" />
                </div>
                <div class="vuesax-linear-paypal-wrapper">
                    <img class="vuesax-linear-paypal"
                        src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-paypal-1.png" />
                </div>
                <div class="vuesax-linear-apple-wrapper">
                    <img class="vuesax-linear-apple"
                        src="https://c.animaapp.com/yK9rak1H/img/vuesax-linear-apple-1.png" />
                </div>
            </div>
            <div class="NameContainer">
                <div class="Name1">Sean</div>
                <div class="Name2">ui_</div>
            </div>

            <div class="PIE-CHART" id="mySvgContainer">
                <svg xmlns="http://www.w3.org/2000/svg" width="241" height="241" viewBox="0 0 241 241">
                    <path id="path1" fill="#282A36"
                        d="M217 120.5c13.255 0 24.24 10.849 21.618 23.842a120.505 120.505 0 0 1-131.536 95.909A120.505 120.505 0 0 1 6.803 160.416 120.5 120.5 0 0 1 70.791 10.731c12.074-5.468 25.11 2.806 28.08 15.724l17.347 75.424a23.999 23.999 0 0 0 23.389 18.621H217Z" />
                    <path id="path2" fill="#BBFF1A"
                        d="M207.166 85.193c10.599-2.868 17.059-14.006 12.178-23.93a100.53 100.53 0 0 0-28.616-35.111 99.304 99.304 0 0 0-40.99-18.826C138.982 5.133 130 14.318 130 25.399v54.526c0 13.193 12.392 22.795 25.011 19.38l52.155-14.112Z" />
                </svg>
            </div>
        </div>

    </div>



    </div>



    <script>

        // PIE-CHART scroll animation
        window.addEventListener('scroll', function () {




            let scrollDistance = window.scrollY;

            let sup = document.getElementsByClassName('Sup');











            let pieChart = document.getElementById('mySvgContainer');
            let scrollButton = document.querySelector('.frame-wrapper');
            let buttonIcon = document.querySelector('.img-2');

            // get height
            let viewportHeight = window.innerHeight;
            let distanceFromPieChart = viewportHeight - (pieChart.getBoundingClientRect().top - scrollDistance);
            let distanceFromPieButton = viewportHeight - (scrollButton.getBoundingClientRect().top - scrollDistance);

            let scrollableDistance = document.documentElement.scrollHeight - viewportHeight;
            let scrollRatio = scrollDistance / scrollableDistance;

            let rotateAngle = 140.95 * scrollRatio;

            pieChart.style.transform = `translateX(-50%) rotate(${rotateAngle}deg)`;

            if (distanceFromPieChart > 1800) {
                pieChart.style.position = 'fixed';
                pieChart.style.top = '-10%';
                pieChart.style.left = '89%';
            } else {
                pieChart.style.position = 'absolute';
                pieChart.style.top = '623px';
                pieChart.style.left = '89%';
            }

            if (distanceFromPieButton > 1200) {
                scrollButton.style.position = 'fixed';
                scrollButton.style.top = '2.1%';
                buttonIcon.style.transform = 'rotate(180deg)';
            } else {
                scrollButton.style.position = 'absolute';
                scrollButton.style.top = '257px';
                scrollButton.style.left = '207px';
                buttonIcon.style.transform = 'rotate(0deg)';
            }



            let character = document.querySelector('.Character');
            let characterBack = document.querySelector('.CharacterBack');

            let IMGminWidth = 21;
            let IMGminHeight = 55;
            let IMGmaxWidth = 26.3;
            let IMGmaxHeight = 69;
            let minTop = 55;
            let maxTop = 45;

            let Ascale = 1 - scrollDistance / (document.body.scrollHeight - window.innerHeight);
            let topValue = minTop + Ascale * (maxTop - minTop);

            let Awidth = IMGminWidth + Ascale * (IMGmaxWidth - IMGminWidth);
            let Aheight = IMGminHeight + Ascale * (IMGmaxHeight - IMGminHeight);

            character.style.width = Awidth + '%';
            character.style.height = Aheight + '%';
            character.style.top = topValue + '%';



            let minWidth = 0;
            let minHeight = 0;
            let maxWidth = 74;
            let maxHeight = 130;
            let scale = scrollDistance / (document.body.scrollHeight - window.innerHeight);
            let width = minWidth + scale * (maxWidth - minWidth);
            let height = minHeight + scale * (maxHeight - minHeight);

            characterBack.style.width = width + '%';
            characterBack.style.height = height + '%';
        });




        function scrollToBottom() {
            let scrollDistance = window.scrollY;
            let scrollButton = document.querySelector('.frame-wrapper');
            let viewportHeight = window.innerHeight;
            let distanceFromPieButton = viewportHeight - (scrollButton.getBoundingClientRect().top - scrollDistance);



            if (distanceFromPieButton > 1200) {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth' // Add smooth scrolling effect
                });
            } else {
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: 'smooth' // Add smooth scrolling effect
                });
            }
            // Scroll to the bottom of the page

        }

    </script>

    <script>
        AOS.init();
    </script>
</body>

</html>