<div class="Sup" style="width: 1735px; height: 590px; position: relative">
  <div class="Fbutton" style="width: 150px; height: 186px; left: 1585px; top: 404px; position: absolute">
    <div class="Sup7" style="width: 150px; height: 150px; left: 0px; top: 0px; position: absolute; background: #1E1F29; border-radius: 9999px"></div>

    <div class="MemberIdentity" style="left: 22px; top: 168px; position: absolute; text-align: center; color: #999DBA; font-size: 14px; font-family: Outfit; font-weight: 500; word-wrap: break-word">Member Identity</div>
  </div>
  <div class="Ebutton" style="width: 150px; height: 201px; left: 1577px; top: 201px; position: absolute">
    <div class="Sup6" style="width: 150px; height: 150px; left: 0px; top: 0px; position: absolute; background: #1E1F29; border-radius: 9999px"></div>

    <div class="NcsMusic" style="left: 45px; top: 183px; position: absolute; text-align: center; color: #999DBA; font-size: 14px; font-family: Outfit; font-weight: 500; word-wrap: break-word">NCS Music</div>
  </div>
  <div class="Dbutton" style="width: 150px; height: 178px; left: 1577px; top: 0px; position: absolute">
    <div class="Sup5" style="width: 150px; height: 150px; left: 0px; top: 0px; position: absolute; background: #1E1F29; border-radius: 9999px"></div>

    <div class="Certificate" style="left: 45px; top: 160px; position: absolute; text-align: center; color: #999DBA; font-size: 14px; font-family: Outfit; font-weight: 500; word-wrap: break-word">Certificate</div>
  </div>
  <div class="Cbutton" style="width: 150px; height: 186px; left: 0px; top: 404px; position: absolute">
    <div class="Sup4" style="width: 150px; height: 150px; left: 0px; top: 0px; position: absolute; background: #1E1F29; border-radius: 9999px"></div>
    <div class="Merchandise" style="left: 35px; top: 168px; position: absolute; text-align: center; color: #999DBA; font-size: 14px; font-family: Outfit; font-weight: 500; word-wrap: break-word">Merchandise</div>
  </div>
  <div class="Bbutton" style="width: 150px; height: 182px; left: 0px; top: 202px; position: absolute">
    <div class="Sup3" style="width: 150px; height: 150px; left: 0px; top: 0px; position: absolute; background: #1E1F29; border-radius: 9999px"></div>
 
    <div class="Dance" style="left: 55px; top: 164px; position: absolute; text-align: center; color: #999DBA; font-size: 14px; font-family: Outfit; font-weight: 500; word-wrap: break-word">Dance</div>
  </div>
  <div class="Abutton" style="width: 150px; height: 178px; left: 0px; top: 0px; position: absolute">
    <div class="Sup2" style="width: 150px; height: 150px; left: 0px; top: 0px; position: absolute; background: #1E1F29; border-radius: 9999px"></div>
    <div class="VuesaxBoldDiscover" style="width: 48px; height: 48px; left: 51px; top: 53px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
      <div class="VuesaxBoldDiscover" style="width: 48px; height: 48px; position: relative">
        <div class="Vector" style="width: 40px; height: 40px; left: 4px; top: 4px; position: absolute; background: #999DBA"></div>
        <div class="Vector" style="width: 48px; height: 48px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
        <div class="Vector" style="width: 48px; height: 48px; left: 48px; top: 48px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; opacity: 0"></div>
      </div>
    </div>
    <div class="DjChallenges" style="left: 31px; top: 160px; position: absolute; text-align: center; color: #999DBA; font-size: 14px; font-family: Outfit; font-weight: 500; word-wrap: break-word">DJ Challenges</div>
  </div>
</div>