<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\index_css\test.css">

  <title>Scroll Effect</title>
</head>

<body>
  <div class="Sup">
    <div class="Fbutton">
      <div class="Sup7"></div>
      <div class="VuesaxBoldDiscover">
        <img src="static\index_image\color-swatch.png" alt="">
      </div>
      <div class="MemberIdentity">Member Identity</div>
    </div>
    <div class="Ebutton">
      <div class="Sup6"></div>
      <div class="VuesaxBoldDiscover">
        <img src="static\index_image\music-square.png" alt="">
      </div>
      <div class="NcsMusic">NCS Music</div>
    </div>
    <div class="Dbutton">
      <div class="Sup5"></div>
      <div class="VuesaxBoldDiscover">
        <img src="static\index_image\award.png" alt="">
      </div>
      <div class="Certificate">Certificate</div>
    </div>
    <div class="Cbutton">
      <div class="Sup4"></div>
      <div class="VuesaxBoldDiscover">
        <img src="static\index_image\note-2.png" alt="">
      </div>
      <div class="Merchandise">Merchandise</div>
    </div>
    <div class="Bbutton">
      <div class="Sup3"></div>
      <div class="VuesaxBoldDiscover">
        <img src="static\index_image\flash.png" alt="">
      </div>
      <div class="Dance">Dance</div>
    </div>
    <div class="Abutton">
      <div class="Sup2"></div>
      <div class="VuesaxBoldDiscover">
        <img src="static\index_image\discover.png" alt="">
      </div>
      <div class="DjChallenges">DJ Challenges</div>
    </div>
  </div>
  <script>
    window.addEventListener('scroll', function () {

    });

  </script>
</body>

</html>