<div class="phone_button">
  <div class="div-2">
    <img
      src="static\index_image\button_1.png"
      class="img"
    />
    <div class="div-3">DJ Challenges</div>
    <img
      src="static\index_image\button_1.png"
      class="img-2"
    />
    <div class="div-4">DJ Challenges</div>
    <img
      src="static\index_image\button_1.png"
      class="img-3"
    />
    <div class="div-5">DJ Challenges</div>
  </div>
  <div class="div-6">
    <img
      src="static\index_image\button_1.png"
      class="img"
    />
    <div class="div-7">DJ Challenges</div>
    <img
      src="static\index_image\button_1.png"
      class="img-4"
    />
    <div class="div-8">DJ Challenges</div>
    <img
      src="static\index_image\button_1.png"
      class="img-5"
    />
    <div class="div-9">DJ Challenges</div>
  </div>
</div>
<style>
  .phone_button {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .phone_button .div-2 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  .phone_button .img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 82px;
    overflow: hidden;
    border-radius: 50%;
  }
  .phone_button .div-3 {
    color: #999dba;
    text-align: center;
    margin-top: 15px;
    white-space: nowrap;
    font: 500 8px Outfit, sans-serif;
    white-space: initial;
  }
  .phone_button .img-2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 82px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 40px;
  }
  .phone_button .div-4 {
    color: #999dba;
    text-align: center;
    margin-top: 15px;
    white-space: initial;
    font: 500 8px Outfit, sans-serif;
  }
  .phone_button .img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 82px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 40px;
  }
  
  .phone_button .div-5 {
    color: #999dba;
    text-align: center;
    margin-top: 15px;
    white-space: initial;
    font: 500 8px Outfit, sans-serif;
  }
  .phone_button .div-6 {
    align-self: start;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  .phone_button .div-7 {
    color: #999dba;
    text-align: center;
    margin-top: 15px;
    white-space: initial;
    font: 500 8px Outfit, sans-serif;
  }
  
  .phone_button .img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 82px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 39px;
  }
  .phone_button .div-8 {
    color: #999dba;
    text-align: center;
    margin-top: 15px;
    white-space: initial;
    font: 500 8px Outfit, sans-serif;
  }
  
  .phone_button .img-5 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 82px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 36px;
  }
  .phone_button .div-9 {
    color: #999dba;
    text-align: center;
    margin-top: 15px;
    white-space: initial;
    font: 500 8px Outfit, sans-serif;
  }

</style>